main {
    display: grid;
    grid-template-columns: 60vw 40vw;
    grid-template-rows: 0.5fr 0.5fr 100px;
    box-sizing: border-box;
    color: var(--text);
    font-family: 'Bungee Shade', cursive;
}

.centerXY {
    /* we are cheating a bit here: within CSS grid the horizontal and vertical
       alignment of text is not easy; flex is a display type that handles this
       easily 
    */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
}

.playboard {
    float: left;
}


.justify {
    display: flex;
    justify-content: center;
}

#board {
    grid-row: 1/4;
    background-color: var(--lightBG);
    display: grid;
    grid-template-columns: repeat(6, 8vw);
    grid-template-rows: repeat(5, 17vh);
    gap: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    border-right: 5px dashed var(--lightHighlight);
}

.tile-p1,
.tile-p2,
td.color-picker tr div {
    background-color: grey;
    border: 1px solid black;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


div.tile-p1, div.secretcode-p1 {
    background-color: black;
}

div.tile-p2,
tr.color-picker div,
div.tile-p1, div.secretcode-p1 {
    width: 50px;
    height: 50px;
}

div.tile-p2:hover {
    opacity: 0.7;
}

tr.color-picker div.active {
    border: 3px solid black;
}

#gamestatus {
    background-color: var(--lightHighlight);
    font-family: monaco, Bitstream Vera Sans Mono, monospace;
    font-size: 100%;
    padding: 10px;
}