main {
    display: grid;
    grid-template-columns: 60vw 40vw;
    grid-template-rows: 0.5fr 0.5fr 100px;
    box-sizing: border-box;
    color: var(--text);
    font-family: 'Bungee Shade', cursive;
}

.centerXY {
    /* we are cheating a bit here: within CSS grid the horizontal and vertical
       alignment of text is not easy; flex is a display type that handles this
       easily 
    */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
}

.playboard {
    float: left;
}


.justify {
    display: flex;
    justify-content: center;
  }
  
  #board {
    grid-row: 1/4;
    background-color: var(--lightBG);
    display: grid;
    grid-template-columns: repeat(6, 8vw);
    grid-template-rows: repeat(5, 17vh);
    gap: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    border-right: 5px dashed var(--lightHighlight);
  }
  
  .tile-p1, .tile-p2, .color-picker {
    background-color: var(--darkHighlight);
    border: 1px dashed black;
    font-size: 250%;
    padding-left: 10px;
    box-shadow: 20px 20px 10px -10px rgba(31, 31, 31, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

div.tile-p1 {
    width: 40px;
    height: 40px;
}

div.tile-p2 {
    width: 50px;
    height: 50px;
}

div.tile-p1:hover {
    background-color: red;
}

div.tile-p1:active {
    background-color: aqua;
}

div.tile-p2:hover {
    background-color: green;
}

div.tile-p2:active {
    background-color: gold;
}

div.color-picker:hover {
    background-color: beige;
}

div.color-picker:active {
    background-color: brown;
}

#gamestatus {
    background-color: var(--lightHighlight);
    font-family: monaco, Bitstream Vera Sans Mono, monospace;
    font-size: 100%;
    padding: 10px;
  }